<div style="margin-left:10% ;" >
    
    <!-- <mat-list role="list">
        <div mat-subheader>Your Cart</div>

        <div class="container-fluid col-sm-4  p-3">

            <div class="card float-start" style="width: 350px;">
                <div class><mat-icon class=" float-end  m-3">favorite_border</mat-icon></div>
                <img src="../../assets/Shoes.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-title my-3">SPARX Running Shoes for Men SM 834</div>
                    <div class="card-text d-inline ">
                        <h2 class=" d-inline">555</h2>
                    </div>
                </div>
            </div>
        </div>

    </mat-list> -->



    <div>
        <div class="col-sm-4 float-start  p-3">
            
            <div class="card " style="width: 1000px;">
                <div class><mat-icon class=" d-inline float-end" style="margin-top: 8px;">favorite_border</mat-icon></div>
                <div class><mat-icon class=" float-end  m-3">like</mat-icon></div>
                <!-- <div class="container-fluid d-inline p-2"> -->
                <div class="row">
                    <div class="col ">
                        <img src="../../assets/Shoes.webp" height="250" width="250" alt="">
                    </div>
                    <div class="col p-2">
                        <p >SPARX Running Shoes for Men SM 834</p>

                        <div>
                            <span class="btn btn-primary ">-</span>
                            <p class="d-inline">55</p>
                            <span class="btn btn-primary ">+</span>
                        </div>
                    </div>
                    <div class="col ">
                        <h2 class="float-end p-4">833</h2>
                    </div>
                </div>
            </div>

        </div>

    </div>