<div style="margin-bottom: 75px; margin-top: 20px; background-color: yellow;">
<mat-toolbar >
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    
    </button> -->
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" >
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" >
        <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="navigate('auth')" >

       <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" >
        <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/home" >
      <mat-icon>home</mat-icon>
  </button>
  </mat-toolbar>
<!-- 
  <mat-sidenav-container autosize>
    <mat-sidenav #drawer [opened]="true" mode="side">

      <mat-nav-list>
        <a mat-list-item routerLink="/home">
          <span class="entry">
            <mat-icon>house</mat-icon>
            <span>Home</span>
          </span>
        </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->

</div>
 <router-outlet></router-outlet>



  

  