<!-- <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div><button mat-icon-button class="example-icon" >
            <mat-icon>account_circle</mat-icon>
        user</button></div>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  
  </mat-drawer-container> -->


  <mat-sidenav-container autosize>
    <mat-sidenav #drawer [opened]="true" mode="side">
      <mat-nav-list>
        <a mat-list-item>
          <span class="entry">
            <mat-icon>house</mat-icon>
            <span>Dashboard</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <h2>Content</h2>
    </mat-sidenav-content>
  </mat-sidenav-container>


